*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.logo1{
    left: 0;
    justify-self: self-start;
}
.logo{
    height: 100px;
    width: 100px;
}
.a_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px ;  
    justify-self: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.btn{
    justify-self: end;
}
button{
    background-color: rgb(44, 44, 210);
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    

}
.first_container{
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 40px;
    
}
.first_container_left{
    height: 100%;
    width: 40%;
    
}
h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 40px;
    border-block-end:  solid;
    writing-mode: horizontal-tb;
}
.h1tag{
    height: 100px;
}
.desc{
    font-size: 1.5rem;

}
.first_container_right{
    height: 100%;
    width: 40%;
    border-radius: 10px;
    border: none;
    
}
.img1{
   height: 100%;
   width: 100%;
   border-radius: 10px; 
   filter: drop-shadow(0 0 0.75rem rgb(47, 46, 47));
   border: none;
   
}