*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.logo1{
    left: 0;
    justify-self: self-start;
}
.logo{
    height: 100px;
    width: 100px;
}
.a_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px ;  
    justify-self: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.btn{
    justify-self: end;
}
button{
    background-color: rgb(44, 44, 210);
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first_container{
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    
}
.first_container_left{
    height: 100%;
    width: 40%;
}
.first_container_right{
    height: 100%;
    width: 40%;
    border-radius: 5px;
    
}